.toggle {
  background-color: #D9B573;
  color: #00010D;
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 0px 0px 5px;
  box-shadow: 3px 3px 3px rgba(68,68,68,0.6);
}

.toggle:focus {
  outline: none;
}
